<a href="https://colab.research.google.com/github/mohammedabidali1956/Numpy/blob/main/DataCleaning_%26_Preparation_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Handling Missing Values:
* Why Handle Missing Values?
* Methods to Handle Missing Values
  * Drop Missing Values
  * Fill Missing Values
  * Interpolation

In [ ]:
df = df.dropna()
df = df.dropna(axis=1)

df["column_name"]=df["column_name"].fillna(0)

df.fillna(method='ffill')
df.fillna(method='bfill')

df["column_name"]=df["column_name"].interpolate()

Data Transformations
* Renaming Columns
* Changing Data Types
* Creating or Modifying Columns

In [ ]:
# renaming columns
df = df(columns={"old_name":"new_name"})

#changing datatype
df["column_name"] = df["column_name"].astype("float")
df["column_name"]= pd.to_datetime(df["column_name"])

#creating or modifying columns
df["new_column"]=df["existing_column"] * 2

Combining and Merging DataFrames
* Concatenation
* Merging
* Joining

In [ ]:
'''https://www.notion.so/Concat-Merge-Join-2d6e14ddabd5804a84fcf039dac69cff?v=4913011de93f4d708fbcdcd354022dc8&source=copy_link'''
#concatination
combined = pd.concat([df1,df2],axis=0) #rows
combined = pd.concat([df1,df2],axis=1) #columns

#merging
merged = pd.merge(df1,df2,on = "common column")
merged = pd.merge(df1,df2,how="left",on = "common column")
merged = pd.merge(df1,df2,how="inner",on = "common column")

#joining
joined = df1.join(df2,how = "inner")

HANDS ON EXERCISE

In [ ]:
#Exercise 1: Clean a Dataset by Handling Missing Values and Renaming Columns
import numpy as np
import pandas as pd

#Created sample data set
data = {
    "Name": ["Alice","Bob","John",np.nan],
    "Age":[20,22,np.nan,19],
    "Score": [88,np.nan,78,np.nan]
}
df = pd.DataFrame(data)
print("Original Data:\n",df,"\n")

#Handling missing values
df["Age"] = df["Age"].fillna(df["Age"].mean())
df["Score"] = df["Score"].fillna(df["Score"].interpolate())
print("Clean Dataset:\n",df,"\n")

# Renaming columns
df = df.rename(columns= {"Name":"Student_Name","Score":"Marks"})
print("After Renaming:\n",df,"\n")

Original Data:
     Name   Age  Score
0  Alice  20.0   88.0
1    Bob  22.0    NaN
2   John   NaN   78.0
3    NaN  19.0    NaN

Clean Dataset:
     Name        Age  Score
0  Alice  20.000000   88.0
1    Bob  22.000000   83.0
2   John  20.333333   78.0
3    NaN  19.000000   78.0

After Renaming:
   Student_Name        Age  Marks
0        Alice  20.000000   88.0
1          Bob  22.000000   83.0
2         John  20.333333   78.0
3          NaN  19.000000   78.0

In [ ]:
#Exercise 2: Merge Two Datasets and Perform Data Transformations

import numpy as np
import pandas as pd

#creating 2 sample datasets
df1 = pd.DataFrame({
    "ID" : [1,2,3],
    "Name" : ["Alice","Bob","John"],
    "Age" : [20,22,21]
})

df2 = pd.DataFrame({
    "ID" : [1,2,3],
    "Score" : [45,60,57]
})

print("\n Data Set 1: \n",df1)
print("\n Data Set 2: \n",df2)

# Merging 2 datasets
merged = pd.merge(df1,df2,how="inner",on="ID")
print("\nMerged Data set:\n",merged)

# Data transformation
merged["Score_%"] = (merged["Score"] / 200) * 100
print("\nTransformed Data set:\n",merged)

 Data Set 1:
    ID   Name  Age
0   1  Alice   20
1   2    Bob   22
2   3   John   21

 Data Set 2:
    ID  Score
0   1     45
1   2     60
2   3     57

Merged Data set:
    ID   Name  Age  Score
0   1  Alice   20     45
1   2    Bob   22     60
2   3   John   21     57

Transformed Data set:
    ID   Name  Age  Score  Score_%
0   1  Alice   20     45     22.5
1   2    Bob   22     60     30.0
2   3   John   21     57     28.5

Additional Practice
* Drop columns with more than 50% missing values
* Merge three datasets and analyze relationships between them
* Convert categorical data to numerical using one-hot encoding

In [ ]:
# Drop columns with more than 50% missing values

import numpy as np
import pandas as pd

# Creating a sample dataset
df = pd.DataFrame({
    "ID" : [1,2,3,4,5],
    "Age" : [20,np.nan,22,np.nan,np.nan],
    "Gender" : ["M","F",np.nan,"M",np.nan],
    "Marks" : [85,np.nan,78,70,np.nan],
    "Attendance" : [90,85,np.nan,np.nan,np.nan],
    "City" : ["Delhi",np.nan,np.nan,np.nan,np.nan]
})
print("\nOriginal dataset\n",df)

# Main logic

total_rows = len(df)
missing_count = df.isnull().sum()
half_data = total_rows/2
columns_to_drop = missing_count[missing_count > half_data].index
clean_data = df.drop(columns=columns_to_drop)
print("\n Cleaned Data: \n",clean_data)

Original dataset
    ID   Age Gender  Marks  Attendance   City
0   1  20.0      M   85.0        90.0  Delhi
1   2   NaN      F    NaN        85.0    NaN
2   3  22.0    NaN   78.0         NaN    NaN
3   4   NaN      M   70.0         NaN    NaN
4   5   NaN    NaN    NaN         NaN    NaN

 Cleaned Data:
    ID Gender  Marks
0   1      M   85.0
1   2      F    NaN
2   3    NaN   78.0
3   4      M   70.0
4   5    NaN    NaN

In [ ]:
# Merge three datasets and analyze relationships between them

import numpy as np
import pandas as pd

# dataset 1
df1 = pd.DataFrame({
    "ID" : [1,2,3,4],
    "Student_ID" : ["Alice","Bob","John","Tom"]
})

# dataset 2
df2 = pd.DataFrame({
    "ID" : [1,2,3,4],
    "Marks" : [80,50,78,59]
})

# dataset 3
df3 = pd.DataFrame({
    "ID" : [1,2,3,4],
    "Attendance" : [79,86,74,70]
})

first_merge = pd.merge(df1,df2,on="ID",how="left")
second_merge = pd.merge(first_merge,df3,on="ID",how="left")
print(second_merge)

   ID Student_ID  Marks  Attendance
0   1      Alice     80          79
1   2        Bob     50          86
2   3       John     78          74
3   4        Tom     59          70