<a href="https://colab.research.google.com/github/mohammedabidali1956/Numpy/blob/main/Data_Aggregation_and_Grouping_in_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Grouping Data by Categories
* Why Group Data?
* groupby in Pandas
* Operations
* Iterate over groups
* Apply aggregation
  * Aggregation refers to the process of applying a    function to combine multiple values into a single summary statistic.

In [ ]:
#Syntaxs

# groupby in pandas
grouped = df.groupby("column_name")

# Operations
grouped.mean()
grouped.sum()

# Iterate over groups
for name, group in grouped:
  print(name)
  print(group)

#Apply Aggregation
df.groupby("category_column")["numeric_column"].mean()

Aggregation Functions
* Using groupby
* Using pivot_table
* Custom Aggregation
* Apply custom functions using .agg()

In [ ]:
#  aggregation using groupby
df.groupby("category_column")["numeric_column"].mean()
df.groupby("category_name").agg(
    {"numeric_column":["mean","max","min"]}
)

# using pivot_table
pivot = df.pivot_table(
    values = "numeric_column",
    index = "category_column",
    aggfunc = "mean"
)


# Apply custom functions using .agg()
def range_func(x):
  return x.max() - x.min()

df.groupby("category_column")["numeric_column"].agg(range_func)

Calculating Summary Statistics for Grouped Data
* Common Statistics
  * Mean
  * Max
  * Min
* Multi-Aggregation

In [ ]:
# Common Statistics
df.groupby("category_column")["numeric_column"].mean()
df.groupby("category_column")["numeric_column"].max()
df.groupby("category_column")["numeric_column"].min()

# Multi-Aggregation
df.groupby("category_name").agg(
    {"numeric_column": ["mean","max","min"]}
)

Hands-On Exercises

In [3]:
# Exercise 1: Group Data by a Categorical Column

import pandas as pd

data = {
    "Class":["A","B","A","B","C","C"],
    "Score":[85,69,78,83,90,93],
    "Age":[18,15,19,20,22,15],
}

df = pd.DataFrame(data)
print("Original data set: \n",df)

grouped = df.groupby("Class").sum()
print("Grouped Data: \n",grouped)

# Exercise 2: Calculate Summary Statistics for Grouped Data
stats = df.groupby("Class").agg(
    {"Score": ["mean","max","min"],"Age": ["mean","max","min"]}
)
print("Stats Data: \n",stats)

Original data set:
   Class  Score  Age
0     A     85   18
1     B     69   15
2     A     78   19
3     B     83   20
4     C     90   22
5     C     93   15
Grouped Data:
        Score  Age
Class
A        163   37
B        152   35
C        183   37
Stats Data:
       Score           Age
       mean max min  mean max min
Class
A      81.5  85  78  18.5  19  18
B      76.0  83  69  17.5  20  15
C      91.5  93  90  18.5  22  15

Additional Practice

In [9]:
# Create a dataset of sales data and group it by region or product category

data = {
    "Region": ["North", "South", "North", "East", "West", "South"],
    "Product": ["Laptop", "Mobile", "Mobile", "Laptop", "Tablet", "Tablet"],
    "Sales": [50000, 30000, 45000, 55000, 20000, 25000],
    "Quantity": [5, 10, 8, 6, 7, 9],
}

df = pd.DataFrame(data)
print("Original dataset: \n",df)

#grouping
grouped = df.groupby("Product").sum()
print(grouped)

stats = df.groupby("Product").agg(
  {"Quantity": ["mean","max","min"],"Sales": ["mean","max","min"]}
)
print("Stats Data: \n",stats)

Original dataset:
   Region Product  Sales  Quantity
0  North  Laptop  50000         5
1  South  Mobile  30000        10
2  North  Mobile  45000         8
3   East  Laptop  55000         6
4   West  Tablet  20000         7
5  South  Tablet  25000         9
             Region   Sales  Quantity
Product
Laptop    NorthEast  105000        11
Mobile   SouthNorth   75000        18
Tablet    WestSouth   45000        16
Stats Data:
         Quantity            Sales
            mean max min     mean    max    min
Product
Laptop       5.5   6   5  52500.0  55000  50000
Mobile       9.0  10   8  37500.0  45000  30000
Tablet       8.0   9   7  22500.0  25000  20000

In [19]:
# Use pivot_table to calculate total sales per region and per year

data = {
    "Region": ["North", "South", "North", "East", "West", "South", "East", "West"],
    "Year":   [2022, 2022, 2023, 2022, 2023, 2023, 2023, 2022],
    "Sales":  [50000, 30000, 45000, 55000, 20000, 25000, 60000, 22000]
}

df = pd.DataFrame(data)
print("Original data set: \n",df,"\n")

pivot = df.pivot_table(
    values = "Sales",
    index = "Region",
    columns = "Year",
    aggfunc="sum"
)
print(pivot)

Original data set:
   Region  Year  Sales
0  North  2022  50000
1  South  2022  30000
2  North  2023  45000
3   East  2022  55000
4   West  2023  20000
5  South  2023  25000
6   East  2023  60000
7   West  2022  22000

Year     2022   2023
Region
East    55000  60000
North   50000  45000
South   30000  25000
West    22000  20000