<a href="https://colab.research.google.com/github/mohammedabidali1956/Numpy/blob/main/Intro_Pandas_%26_Data_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Pandas Data Structures
• What is Pandas?
• Pandas Data Structures
• Series
• DataFrame

In [ ]:
import pandas as pd

In [ ]:
# Series Data Structures in pandas

data = pd.Series([100,200,300])
s = pd.Series([10,20,30],index = ["a","b","c"])

print(data)
print(s)

0    100
1    200
2    300
dtype: int64
a    10
b    20
c    30
dtype: int64

Pandas DataFrame

A DataFrame is a two-dimensional, size-mutable and potentially heterogeneous tabular data structure with labeled axes (rows and columns).

In [ ]:
data = {"Name":['Alice','Bob'], "Age": [20,30]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0  Alice   20
1    Bob   30

Loading data from csv,excel and others sources

In [ ]:
# From csv file
#df = pd.read_csv("data.csv")
# from excel file
df1 = pd.read_excel("drl prices list.xlsx")
print(df1)

FileNotFoundError: [Errno 2] No such file or directory: 'drl prices list.xlsx'

Saving data
- Save to CSV
- Save to Excel

In [ ]:
df1 = pd.read_excel("drl prices list.xlsx")
df1.to_xlsx("drl prices list.xlsx")
df.to_csv("data.csv")

In [ ]:

data = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/daily-total-female-births.csv')
#print(data.head()) #Gives first 5 rows of the dataset
print(data.head(6))

         Date  Births
0  1959-01-01      35
1  1959-01-02      32
2  1959-01-03      30
3  1959-01-04      31
4  1959-01-05      44
5  1959-01-06      29

In [ ]:
print(data.tail(6))

           Date  Births
359  1959-12-26      34
360  1959-12-27      37
361  1959-12-28      52
362  1959-12-29      48
363  1959-12-30      55
364  1959-12-31      50

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    365 non-null    object
 1   Births  365 non-null    int64
dtypes: int64(1), object(1)
memory usage: 5.8+ KB
None

In [ ]:
print(data.describe())

           Births
count  365.000000
mean    41.980822
std      7.348257
min     23.000000
25%     37.000000
50%     42.000000
75%     46.000000
max     73.000000

In [ ]:
print(data["Date"])
print(data[["Date","Births"]])

0      1959-01-01
1      1959-01-02
2      1959-01-03
3      1959-01-04
4      1959-01-05
          ...
360    1959-12-27
361    1959-12-28
362    1959-12-29
363    1959-12-30
364    1959-12-31
Name: Date, Length: 365, dtype: object
           Date  Births
0    1959-01-01      35
1    1959-01-02      32
2    1959-01-03      30
3    1959-01-04      31
4    1959-01-05      44
..          ...     ...
360  1959-12-27      37
361  1959-12-28      52
362  1959-12-29      48
363  1959-12-30      55
364  1959-12-31      50

[365 rows x 2 columns]

*selecting rows by position*

iloc
is a Pandas function that selects data based on its numerical position (integer index) rather than labels.
- Syntax:  df.iloc[row_index, column_index]

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

#print(df.iloc[1:4])
print(df.iloc[0:3,0:3])

   longitude  latitude  housing_median_age
0    -114.31     34.19                15.0
1    -114.47     34.40                19.0
2    -114.56     33.69                17.0

*Selecting by label*

In [ ]:
print(df.loc[:5,"longitude"])

0   -114.31
1   -114.47
2   -114.56
3   -114.57
4   -114.57
5   -114.58
Name: longitude, dtype: float64

##Hands On Exercise

In [ ]:
#Ex1: load and explore sample dataset
import pandas as pd

#load
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")

#Explore

# print("First 5 rows:\n",df.head(5))
# print("\nLast 5 rows:\n",df.tail(5))

# print(df.info())
# print("\n",df.describe())
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
# Ex 2: Select specific columns and rows

selected_columns = df[["sepal_length","species"]]
#print("selected columns: \n",selected_columns)

filtered_rows = df[(df["petal_length"]>5.0)&(df['species']=="virginica")]
# print("Filtered data: \n",filtered_rows)

Filtered data:
      sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica
105           7.6          3.0           6.6          2.1  virginica
107           7.3          2.9           6.3          1.8  virginica
108           6.7          2.5           5.8          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
110           6.5          3.2           5.1          2.0  virginica
111           6.4          2.7           5.3          1.9  virginica
112           6.8          3.0           5.5          2.1  virginica
114           5.8          2.8           5.1          2.4  virginica
115           6.4          3.2           5.3          2.3  virginica
116           6.5          3.0           5.5          1.8  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
120           6.9          3.2           5.7          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica